$font: "Saira", arial, helvetica, sans-serif;

$font-small: 0.7rem;
$font-smaller: 0.9rem;
$font-medium: 1rem;
$font-medium-secondary: 1.1rem;
$font-big: 1.5rem;
$font-bigger: 2rem;
$font-biggest: 2.5rem;

$color: #e6e6e6;
$background-primary: #041136;
$background-secondary: #030b24;
$background-third: #2c2e33;

$gray: rgb(123, 112, 131);

$transition: all 0.3s ease-in-out;
